<html>
<body>
	<table border="1px">
		<tr>
			<td>ID</td>
			<td>Titulo</td>
			<td>Descrição</td>
			<td>Preço</td>
		</tr>
		<tr>
			<% for(var i=0;i<lista.length;i++){ %>
				<tr>
				<td><%=lista[i].id%></td>
				<td><%=lista[i].titulo%></td>
				<td><%=lista[i].descricao%></td>
				<td>R$ <%=lista[i].preco%></td>
				</tr>

			<%}%>
		</tr>
	</table>
</body>
</html>